{% extends 'Core/base.html' %}
{% load static %}
{% block title %}it-compot | Запись в группу{% endblock %}

{% block meta_keywords %}Запись в группу{% endblock %}
{% block meta_description %}Запись в группу{% endblock %}
{% block meta_og_description %}Запись в группу{% endblock %}
{% block meta_twitter_description %}Запись в группу{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'tools/css/join_to_group.css' %}">
    <link rel="stylesheet" href="{% static 'tools/css/atom_load.css' %}">
    <script defer type="module" src="{% static 'tools/js/join_to_group7.js' %}"></script>
{% endblock %}

{% block content %}
    <style>
        .ts-33 {
            text-shadow: 0 0 3px #00000033;
        }

        .opacity-this85 {
            opacity: 85%;
        }

        input {
            outline: none !important;
        }

        input::placeholder {
            color: #d0d0d0;
        }

        input::-moz-placeholder {
            color: #d0d0d0;
        }

        input:-ms-input-placeholder {
            color: #d0d0d0;
        }

        input::-ms-input-placeholder {
            color: #d0d0d0;
        }
    </style>
    <img class="moon" src="{% static 'tools/img/join_to_group/moon.svg' %}" alt="">
    <img class="earth" src="{% static 'tools/img/join_to_group/earth.svg' %}" alt="">
    <img class="earth2" src="{% static 'tools/img/join_to_group/earth2.svg' %}" alt="">
    <img class="rocket" src="{% static 'tools/img/join_to_group/rocket.svg' %}" alt="">
    <div id="content" class="z-3 overflow-x-hidden d-none no-scrollbar mw-700px">
        <div id="group_join_content" class="fccc gap-2 text-white disable-tap-and-selection py-3 px-4 mx-auto">
            <div class="ts-33 group_loading_status_container text-center fc">
                <h1 class="fs-01 mb-0 mt-3 text-nowrap">Запись в группу</h1>
                <div class="find-groups-for-u-text fc">
                    <span class="fs-2 opacity-this85">Ищем группы для вас</span>
                    <span class="text-white-80 fs-6">( Это может занять минутку )</span>
                    <div class="loading-atom frcc mt-3">
                        <div class="p-1">
                            <div class="atom">
                                <div class="electron"></div>
                                <div class="electron-alpha"></div>
                                <div class="electron-omega"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-student-info-container d-none fccc gap-2 w-100">
                <span>Заполните информацию ниже</span>
                <input style="height: 50px!important;" class=" border-0 schedule_item text-white mw-400px w-100"
                       type="text" value="" name="student_full_name" placeholder="ФИО Ученика">
                <input style="height: 50px!important;" class=" border-0 schedule_item text-white mw-350px w-100"
                       type="email" value="" name="email" placeholder="Email ...">
                <input style="height: 50px!important;" class=" border-0 schedule_item text-white mw-300px w-100"
                       type="tel" name="tel" value="" placeholder="Номер телефона ...">
                <button type="button" class="schedule_item-button frcc gap-2 my-2 px-3 py-2" id="btnSubmitFindStudent">
                    Подтвердить
                </button>
            </div>
            <div id="tz-info"
                 class="d-none frcc flex-wrap gap-1 gap-sm-3 ts-33 px-5
                        py-2 fw-bold fs-6 text-center time_zone_info_block">
                <img src="{% static 'tools/img/join_to_group/warning.svg' %}" alt="" width="35"
                     class="d-sm-block d-none">
                <span class="text-nowrap">Время по <span id="tz-span"></span> от МСК</span>
                <button id="btn-change-tz" class="schedule_item-button py-1">
                    Изменить
                </button>
            </div>

            <div class="d-none my-3">
                <ul class="result_container frc flex-wrap gap-2">

                </ul>
            </div>
            <button class="schedule_item-button mw-90 w-min mb-2 d-none mx-auto text-nowrap" id="btn-nothing-fit"
                    data-bs-toggle="modal" style="filter: hue-rotate(116deg) brightness(1.2)"
                    data-bs-target="#nothingFitModal">
                Ничего не подошло
            </button>

        </div>
    </div>

    {#    Модальное окно Bootstrap для подтверждения записи в группу #}
    <div class="join_confirm modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="mw-400px modal-dialog modal-dialog-centered mx-auto">
            <div class="modal-content mw-90vw mx-auto fccc gap-1 border-0 py-4 position-relative overflow-hidden">
                <img src="{% static 'tools/img/join_to_group/cat1.svg' %}"
                     class="position-absolute" alt="" width="180"
                     style="bottom: -26px; left: -67px; transform: rotate(41deg);">
                <h5 class="modal-title opacity-this85 fs-5 fw-bold text-white mw-90 text-center" id="modalLabel">
                    Подтверждение записи в
                    группу</h5>
                <ul class="fccc modal-body confirmation-modal-body pb-2 mb-2">

                </ul>
                <button type="button" class="schedule_item-button frcc gap-2 mb-2" id="confirmJoin">
                    <div class="fcc d-none" id="confirmSpinner">
                        <div class="spinner-border" style="color: #eee; width: 25px; height: 25px;"></div>
                    </div>
                    <span style="padding-bottom: 1px;">Подтвердить</span>
                </button>
                <button type="button" class="schedule_item-button fs-6 mb-2"
                        style="filter: grayscale(1) brightness(1.6) contrast(.9)"
                        data-bs-dismiss="modal">Отмена
                </button>
            </div>
        </div>
    </div>

    {#    Модальное окно Bootstrap для ошибок #}
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mx-auto">
            <div class="modal-content mw-90vw mx-auto modal-content-error border-3 border-danger">
                <div class="frc mt-3">
                    <h5 class="modal-title text-center fw-bold text-white text-white fs-1 ts-33" id="errorModalLabel">
                        Ошибка</h5>
                    <button type="button" class="m-0 position-absolute top-3 right-3" data-bs-dismiss="modal"
                            aria-label="Close">
                        <img src="{% static 'tools/img/join_to_group/btn-close-danger.svg' %}" width="40" alt="">
                    </button>
                </div>
                <div class="fccc pb-4">
                    <img src="{% static 'tools/img/join_to_group/cat3.svg' %}" alt="" width="150">
                    <div class="schedule_item schedule_item-white modal-body error-modal-body fccc">
                        <img src="{% static 'tools/img/join_to_group/error-warrning.svg' %}" width="50" alt="">
                        <p class="text-danger error-modal-text-content text-center fs-5"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    Модальное окно Bootstrap для успеха #}
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mx-auto">
            <div class="modal-content mw-90vw mx-auto p-3 border-3 border-secondary position-relative w-max overflow-hidden">
                <div class="modal-body fccc join_confirm">
                    <span class="text-white mx-auto fw-bold modal-title fs-5 text-center">Вы успешно записаны</span>
                    <img src="{% static 'tools/img/join_to_group/cat2.svg' %}" alt="" width="200">
                    <ul class="success-modal-body mt-2">

                    </ul>
                    <span class="dark-color mt-2 mb-1 mx-auto fw-bold modal-subtitle fs-8 text-center">Вы успешно записаны</span>
                </div>
            </div>
        </div>
    </div>

    {#    Модальное окно Bootstrap для инормировании о летних занятиях #}
    <div class="modal fade" id="summerInfo" tabindex="-1" aria-labelledby="summerInfoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog fccc modal-dialog-centered mx-auto">
            <div class="fccc modal-content mw-90vw mx-auto p-3 border-3 border-secondary position-relative overflow-hidden">
                <img src="{% static 'tools/img/join_to_group/cat1.svg' %}"
                     class="position-absolute" alt="" width="100"
                     style="bottom: -16px; left: -27px; transform: rotate(41deg);">
                <div class="modal-body fcc join_confirm">
                    <h3 class="fw-bold text-center">Внимание!</h3>
                    <p class="fs-5">Записываясь на уроки убедитесь, что вам подходят даты и время
                        <span class="fw-bold">первого</span> и <span class="fw-bold">второго</span> урока.
                        (В неделю два урока)</p>
                </div>
                <button type="button" class="schedule_item-button fs-6 mb-2"
                        data-bs-dismiss="modal">Понятно
                </button>
            </div>
        </div>
    </div>

    {#    Модальное окно Bootstrap для не подошло #}
    <div class="modal fade" id="nothingFitModal" tabindex="-1" aria-labelledby="nothingFitModalLabel"
         aria-hidden="true">
        <div class="modal-dialog fccc modal-dialog-centered mx-auto">
            <div class="modal-content mw-90vw mx-auto p-3 border-3 border-secondary position-relative w-max overflow-hidden">
                <img src="{% static 'tools/img/join_to_group/cat1.svg' %}"
                     class="position-absolute" alt="" width="180"
                     style="bottom: -26px; left: -67px; transform: rotate(41deg);">
                <div class="modal-body fcc join_confirm">
                    <span class="text-danger fw-bold" id="nothing_fit-error-message"></span>
                    <span class="text-success mb-1 mx-auto fw-bold" id="nothing_fit-success-message"></span>
                    <form id="form-nothing_fit" class="fccc">
                        <textarea name="nothing_fit_user_msg"
                                  minlength="6" maxlength="1000"
                                  id="nothing_fit_user_textarea"
                                  class="schedule_item mb-2 py-3 px-3 border-0 w-100 fw-4"
                                  cols="30" rows="6"
                                  placeholder="Напишите подходящие вам дни и время для занятия, мы с вами свяжемся 🙂 (укажите так же временную зону)"></textarea>
                        <button id="btn-nothing-fit-submit" class="schedule_item-button my-3" type="submit">
                            Отправить
                        </button>
                        <button type="button" class="schedule_item-button fs-6 mb-2"
                                style="filter: grayscale(1) brightness(1.6) contrast(.9)"
                                data-bs-dismiss="modal">Отмена
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#    Модальное окно Bootstrap для подтверждения TZ #}
    <div class="modal fade" id="chooseTZModal" tabindex="-1" aria-labelledby="chooseTZModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mx-auto rounded-3" style="max-width: 330px;">
            <div class="modal-content mw-90vw mx-auto border-3 border-secondary">
                <div class="modal-body fcc">
                    <p class="mb-2 fs-5 fw-bold text-white text-center">Выберите вашу временную зону
                        относительно МСК.</p>
                    <div class="fccc gap-2">
                        <button value="+3" class="btn-choose-tz schedule_item-button w-70">
                            +0 МСК
                        </button>
                        <button value="-1" class="btn-choose-tz schedule_item-button w-70">
                            -4 МСК
                        </button>
                        <button value="+0" class="btn-choose-tz schedule_item-button w-70">
                            -3 МСК
                        </button>
                        <button value="+1" class="btn-choose-tz schedule_item-button w-70">
                            -2 МСК
                        </button>
                        <button value="+2" class="btn-choose-tz schedule_item-button w-70">
                            -1 МСК
                        </button>
                        <button value="+4" class="btn-choose-tz schedule_item-button w-70">
                            +1 МСК
                        </button>
                        <button value="+5" class="btn-choose-tz schedule_item-button w-70">
                            +2 МСК
                        </button>
                        <button value="+6" class="btn-choose-tz schedule_item-button w-70">
                            +3 МСК
                        </button>
                        <button value="+7" class="btn-choose-tz schedule_item-button w-70">
                            +4 МСК
                        </button>
                        <button value="+8" class="btn-choose-tz schedule_item-button w-70">
                            +5 МСК
                        </button>
                        <button value="+9" class="btn-choose-tz schedule_item-button w-70">
                            +6 МСК
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}