{% extends 'Core/base.html' %}
{% load static %}
{% block title %}it-compot | Запись в группу{% endblock %}

{% block meta_keywords %}Запись в группу{% endblock %}
{% block meta_description %}Запись в группу{% endblock %}
{% block meta_og_description %}Запись в группу{% endblock %}
{% block meta_twitter_description %}Запись в группу{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'tools/css/join_to_group.css' %}">
    <script defer type="module" src="{% static 'tools/js/join_to_group.js' %}"></script>
{% endblock %}

{% block content %}
    <style>

        .cat-1 {
            transform: rotate(-15deg);
            width: 19vw;
            min-width: 60px;
            position: absolute;
            bottom: -50px;
            right: -50px;
            filter: hue-rotate(25deg) contrast(.7) brightness(1.2);
        }
        @media (max-width: 500px){
            .cat-1{
                height: 200%;
                width: auto;
                right: -10px;
                bottom: -24px;
            }
        }
        @media (max-height: 750px) and (min-width: 600px){
            .cat-1{
                right: -30px;
                bottom: -130px;
            }
        }
        @media (min-width: 1920px){
            .cat-1{
                width: 10vw;
                right: -10px;
                bottom: -24px;
            }
        }
        #content {
            color: #00000099;

        }
        .ts-77{
            text-shadow: 0 0 3px #00000077;
        }
        .ts-33{
            text-shadow: 0 0 3px #00000033;
        }
        .modal-content{
            background: #ffffffcc;
            backdrop-filter: blur(20px);
        }
        #nothing_fit_user_textarea{
            background: #ffffff77 !important;
        }
        .btn-success{
            background-color: rgba(32,64,225,0.39) !important;
            border-color: rgba(80, 110, 250, 0.58) !important;
        }
        .text-success{
            color: #4058ff !important;
        }
        .opacity-this85{
            opacity: 85%;
        }
    </style>
    <div id="content" class="container overflow-x-hidden d-none fcc flex-grow-1 ts-77"
         style="max-width: 700px;">
        <img src="{% static 'Core/img/bg/bg2.png' %}" alt=""
        class="position-absolute w-100vw h-100vh top-0 right-0 object-fit-cover"
             style="z-index: -1;  opacity: 50%">
        <div id="group_join_content" class="ts-33 fcc gap-2 disable-tap-and-selection py-3">
            <div class="frc position-relative">
                <h1 class="fs-1 text-center mb-0 mt-3 opacity-this85 ts-33">Запись в группу</h1>
                <img src="{% static 'Core/img/cat-1.png' %}" alt=""
                     class="cat-1">
            </div>
            <div class="ts-33 group_loading_status_container pe-3 pe-sm-0 ps-0 ps-sm-5 frsc justify-content-center justify-content-sm-start gap-3">
                <div class="p-1">
                    <div class="spinner-border" style="color: #888"></div>
                </div>
                <h4 class="m-0 frsc gap-0 gap-sm-2 flex-column flex-sm-row w-min-content text-nowrap">
                    <span class=" opacity-this85">Ищем группы для вас</span>
                    <span class="text-secondary fs-6 mt-0 mt-sm-1">( Это может занять минутку )</span>
                </h4>
            </div>
            <p class="ts-33 px-2 fw-bold text-center opacity-this85">Обратите внимание, время указано московское.
            </p>

            <div class="ts-33 d-none">
                <p id="help-text" class="text-center fs-5 fw-bold  opacity-this85">Выберите удобную для вас группу.</p>
                <ul class="result_container frc flex-wrap gap-2">

                </ul>
            </div>

            <button class="btn fw-bold bg-black bg-opacity-25 text-white mb-2 d-none mx-auto" id="btn-nothing-fit"
                    data-bs-toggle="modal" style="max-width: 230px;" data-bs-target="#nothingFitModal">
                Ничего не подошло
            </button>

        </div>
    </div>

    {#    Модальное окно Bootstrap для подтверждения записи в группу #}
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="modal-header">
                    <h5 class="modal-title opacity-this85" id="modalLabel">Подтверждение записи в группу</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body confirmation-modal-body pb-1">

                </div>
                <div class="modal-footer frc">
                    <button type="button" class="btn btn-success frcc gap-2" id="confirmJoin">
                        <div class="fcc d-none" id="confirmSpinner">
                            <div class="spinner-border" style="color: #eee; width: 25px; height: 25px;"></div>
                        </div>
                        <span style="padding-bottom: 1px;">Подтвердить</span>
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    {#    Модальное окно Bootstrap для ошибок #}
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-3 border-danger">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold text-danger" id="errorModalLabel">Ошибка</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body error-modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    {#    Модальное окно Bootstrap для успеха #}
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-5 border-success">
                <div class="modal-header pb-1 fcc">
                    <h5 class="modal-title fw-bold text-success text-start" id="successModalLabel"></h5>
                    <p class="modal-subtitle m-0 text-start"></p>
                </div>
                <div class="modal-body success-modal-body">

                </div>
            </div>
        </div>
    </div>

    {#    Модальное окно Bootstrap для не подошло #}
    <div class="modal fade" id="nothingFitModal" tabindex="-1" aria-labelledby="nothingFitModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-3 border-secondary">
                <div class="modal-body fcc">
                    <span class="text-danger fw-bold" id="nothing_fit-error-message"></span>
                    <span class="text-success mb-1 mx-auto fw-bold" id="nothing_fit-success-message"></span>
                    <form id="form-nothing_fit">
                        <textarea name="nothing_fit_user_msg"
                                  minlength="6" maxlength="1000"
                                  id="nothing_fit_user_textarea"
                                  class="mb-2 form-control p-2 px-3 border-1 border-secondary bg-white rounded-2"
                                  cols="30" rows="10"
                                  placeholder="Напишите подходящие вам дни и время для занятия, мы с вами свяжемся 🙂"></textarea>
                        <button id="btn-nothing-fit-submit" class="btn btn-success align-self-end" type="submit">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}