{% extends 'Core/base.html' %}
{% load static %}
{% block title %}it-compot | Choose Disciplines{% endblock %}

{% block meta_keywords %}Choose Disciplines{% endblock %}
{% block meta_description %}Choose Disciplines{% endblock %}
{% block meta_og_description %}Choose Disciplines{% endblock %}
{% block meta_twitter_description %}Choose Disciplines{% endblock %}

{% block content %}
    <div id="content" class="container d-none fcc flex-grow-1"
         data-bs-theme="dark"
         style="max-width: 700px;">
        <a class="text-decoration-none" href="https://itschool.app/r/N2xG7z3P4b/">Scratch математика</a>
        <a class="text-decoration-none" href="https://itschool.app/r/d1V0s8J6qM/">Город программистов Джуниор</a>
        <a class="text-decoration-none" href="https://itschool.app/r/w4H9p3C7eX/">Город программистов</a>
        <a class="text-decoration-none" href="https://itschool.app/r/Z3r1F5t7K8/">Python GameDev (Разработка 2D-игр 1 ступень)</a>
        <a class="text-decoration-none" href="https://itschool.app/r/B2y4D6m9Q0/">Python GameDev (Разработка 2D и 3D-игр 2 ступень)</a>
        <a class="text-decoration-none" href="https://itschool.app/r/X1j8N5a4L7/">Программирование Python не игры</a>
        <a class="text-decoration-none" href="https://itschool.app/r/U4s2G9y3K5/">Web-программирование (1 ступень frontend)</a>
        <a class="text-decoration-none" href="https://itschool.app/r/Q7d6J2t1W8/">Web-программирование (2 ступень backend)</a>
        <a class="text-decoration-none" href="https://itschool.app/r/v8K5z4M1r9/">Web-дизайн</a>
        <a class="text-decoration-none" href="https://itschool.app/r/9rT8w5U2kL/">Графический дизайн</a>
        <a class="text-decoration-none" href="https://itschool.app/r/L3r6D2p9X4/">3D-моделирование (Blender)</a>
        <a class="text-decoration-none" href="https://itschool.app/r/H5g2Y9t3K8/">3D-моделирование 2 год</a>
    </div>
{% endblock %}