{% extends 'Core/base.html' %}
{% load static %}
{% block title %}it-compot | Choose Disciplines{% endblock %}

{% block meta_keywords %}Choose Disciplines{% endblock %}
{% block meta_description %}Choose Disciplines{% endblock %}
{% block meta_og_description %}Choose Disciplines{% endblock %}
{% block meta_twitter_description %}Choose Disciplines{% endblock %}

{% block content %}
    <div id="content" class="container d-none fcc flex-grow-1 mw-850px"
         data-bs-theme="dark">
        <span>
            <span>Scratch математика - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/N2xG7z3P4b/">https://itschool.app/r/N2xG7z3P4b/</a>
        </span>
        <span>
            <span>Город программистов Джуниор - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/d1V0s8J6qM/">https://itschool.app/r/d1V0s8J6qM/</a>
        </span>
        <span>
            <span>Город программистов - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/w4H9p3C7eX/">https://itschool.app/r/w4H9p3C7eX/</a>
        </span>
        <span>
            <span>Python GameDev (Разработка 2D-игр 1 ступень) - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/Z3r1F5t7K8/">https://itschool.app/r/Z3r1F5t7K8/</a>
        </span>
        <span>
            <span>Python GameDev (Разработка 2D и 3D-игр 2 ступень) - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/B2y4D6m9Q0/">https://itschool.app/r/B2y4D6m9Q0/</a>
        </span>
        <span>
            <span>Программирование Python не игры - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/X1j8N5a4L7/">https://itschool.app/r/X1j8N5a4L7/</a>
        </span>
        <span>
            <span>Web-программирование (1 ступень frontend) - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/U4s2G9y3K5/">https://itschool.app/r/U4s2G9y3K5/</a>
        </span>
        <span>
            <span>Web-программирование (2 ступень backend) - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/Q7d6J2t1W8/">https://itschool.app/r/Q7d6J2t1W8/</a>
        </span>
        <span>
            <span>Web-дизайн - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/v8K5z4M1r9/">https://itschool.app/r/v8K5z4M1r9/</a>
        </span>
        <span>
            <span>Графический дизайн - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/9rT8w5U2kL/">https://itschool.app/r/9rT8w5U2kL/</a>
        </span>
        <span>
            <span>3D-моделирование (Blender) - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/L3r6D2p9X4/">https://itschool.app/r/L3r6D2p9X4/</a>
        </span>
        <span>
            <span>3D-моделирование 2 год - </span>
            <a target="_blank" class="text-decoration-none" href="https://itschool.app/r/H5g2Y9t3K8/">https://itschool.app/r/H5g2Y9t3K8/</a>
        </span>
    </div>
{% endblock %}